version: 2

updates:
  - package-ecosystem: "composer"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
      timezone: "Europe/Madrid"

    open-pull-requests-limit: 5

    commit-message:
      prefix: "composer"
      include: "scope"

    labels:
      - "dependencies"
      - "composer"

    rebase-strategy: "auto"
